<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="JcHong.Tools.Dic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <appSettings>
    <add key="browseUrl" value="http://endic.naver.com/popManager.nhn?m=miniPopMain"/>
    <add key="windowWidth" value="500"/>
    <add key="windowHeight" value="770"/>
    <add key="spell_browseUrl" value="https://small.dic.daum.net/grammar_checker.do"/>
    <add key="spell_windowWidth" value="860"/>
    <add key="spell_windowHeight" value="700"/>
  </appSettings>
  <userSettings>
    <JcHong.Tools.Dic.Properties.Settings>
      <setting name="NavigateBrowser1SelectedIndex" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="NavigateBrowser2SelectedIndex" serializeAs="String">
        <value>-1</value>
      </setting>
    </JcHong.Tools.Dic.Properties.Settings>
  </userSettings>
</configuration>
